<div id="preloader">
  <div class="loader">
    <div class="ball"></div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/preloader.js"></script>
<header>
  <a href="/" class="one">
    <img src="/images/fav.png" alt="koshigo-logo" />
    <span>Koshigo</span>
  </a>
  <form action="/search" method="get" class="two">
    <div class="autocomplete">
      <input id="myInput" type="text" name="q" placeholder="Search Koshigo" autocomplete="off"
        value="<%= searchQuery %>" />
    </div>
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <nav class="three">
    <div class="left">
      <a href="/search" id="search">
        <i class="fas fa-search"></i>
      </a>
      <a href="/my-orders">
        <i class="fas fa-box-open"></i>
      </a>
      <a href="/my-cart">
        <% if (cartQty) { %>
          <span class="tooltip">
            <%= cartQty %>
          </span>
          <% }%>
            <i class="fas fa-shopping-cart"></i>
      </a>
      <% if (user) { %>
        <a href="/my-account">
          <i class="fas fa-user"></i>
        </a>
    </div>
    <% } else{ %>
      </div>
      <div class="right">
        <a href="/login">Login</a>
        <div class="pipe"></div>
        <a href="/register">Register</a>
      </div>
      <% } %>
  </nav>
</header>