#products .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#products .products .product {
  margin: 9px 9px;
  width: 22rem;
  background: #fff;
  position: relative;
  padding: 1rem;
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  transition: -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow, transform 0.1s ease-in-out;
  transition: box-shadow, transform 0.1s ease-in-out, -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  z-index: 1;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#products .products .product:hover {
  z-index: 2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#products .products .product .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .products .product .product_link:hover > h2 {
  text-decoration: underline;
  color: #063;
}

#products .products .product .product_link .img {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#products .products .product .product_link h2 {
  font-size: 18px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

#products .products .product .product_link p {
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000;
}

#products .products .product .product_link p .one {
  font-size: 24px;
  color: #b12704;
}

#products .products .product .product_link p strike {
  font-size: 16px;
  color: #565959;
}

#products .products .product .product_link p .three {
  color: #0f1111 !important;
  font-size: 17px;
}

#products .products .product .cart {
  margin: 1rem auto 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  background: #063;
  border: 2px solid #063;
  color: #fff;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .products .product .cart:hover, #products .products .product .cart:focus {
  background: green;
}

#products .products .product .cart i {
  margin-right: 10px;
}

@media screen and (max-width: 1500px) {
  #products .products {
    padding: 0 2%;
  }
}

@media screen and (max-width: 1350px) {
  #products .products .product {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 900px) {
  #products .products {
    display: block;
  }
  #products .products .product {
    margin: 20px auto;
  }
  #products .products .product:hover {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 415px) {
  #products .products {
    padding: 0 2px;
  }
  #products .products .product {
    width: 100%;
  }
  #products .products .product .product_link .img {
    height: 15rem;
  }
}
/*# sourceMappingURL=product.css.map */