#product_slider .product_slider {
  width: 100%;
  position: relative;
  display: block;
}

#product_slider .product_slider .product {
  margin: 9px auto;
  width: 22rem;
  min-height: 556px;
  background: #fff;
  position: relative;
  padding: 1rem;
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  transition: -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow, transform 0.1s ease-in-out;
  transition: box-shadow, transform 0.1s ease-in-out, -webkit-box-shadow, -webkit-transform 0.1s ease-in-out;
  z-index: 1;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#product_slider .product_slider .product:hover {
  z-index: 2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#product_slider .product_slider .product .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_slider .product_slider .product .product_link:hover > h2 {
  text-decoration: underline;
  color: #063;
}

#product_slider .product_slider .product .product_link .img {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#product_slider .product_slider .product .product_link h2 {
  font-size: 18px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

#product_slider .product_slider .product .product_link p {
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000;
}

#product_slider .product_slider .product .product_link p .one {
  font-size: 24px;
  color: #b12704;
}

#product_slider .product_slider .product .product_link p strike {
  font-size: 16px;
  color: #565959;
}

#product_slider .product_slider .product .product_link p .three {
  color: #0f1111 !important;
  font-size: 17px;
}

#product_slider .product_slider .product .cart {
  margin: 1rem auto 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  background: #063;
  border: 2px solid #063;
  color: #fff;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_slider .product_slider .product .cart:hover {
  background: green;
}

#product_slider .product_slider .product .cart i {
  margin-right: 10px;
}

#product_slider .product_slider .owl-nav {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  pointer-events: none !important;
}

#product_slider .product_slider .owl-nav button {
  width: 3rem;
  height: 3rem;
  padding: 20px !important;
  margin: 0 18px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  pointer-events: all !important;
}

#product_slider .product_slider .owl-nav button:first-child {
  left: 0;
}

#product_slider .product_slider .owl-nav button:last-child {
  right: 0;
}

#product_slider .product_slider .owl-nav button.disabled {
  display: none !important;
}

#product_slider .product_slider .owl-nav button svg {
  width: 1.4rem !important;
  fill: currentColor;
}

#product_slider .product_slider .owl-nav button i {
  font-size: 1.5rem;
}

#product_slider .product_slider .owl-nav button:hover {
  background: #063 !important;
  color: #fff !important;
}

@media screen and (max-width: 1500px) {
  #product_slider .product_slider .product {
    min-height: 574px;
  }
}

@media screen and (max-width: 800px) {
  #product_slider .product_slider .product:hover {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 400px) {
  #product_slider .product_slider .product {
    width: 100%;
    min-height: 480px;
  }
  #product_slider .product_slider .product .product_link .img {
    height: 15rem;
  }
}
/*# sourceMappingURL=proslider.css.map */